<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change_password</title>
    <style>
        span{
            background-color: red;
            color: green;
            
        }
    </style>
</head>
<body>
    <center>
        <form  method="POST">
            {% csrf_token %}

            <label for="username">Enter Username :</label>
            <input type="text" id="username" name="username"><br><br>

            <label for="password">Enter New Passeord :</label>
            <input type="password" name="password" id="password"><br><br>

            <span> <input type="submit" value="ok"> </span>
        </form>
    </center>
</body>
</html>